<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30106">
    <setting id="quality" type="enum" label="30007" values="270p|360p|540p|720p" default="3"/>
    <setting id="suppress_signLanguage" type="bool" label="30008" default="false"/>
    <setting id="suppress_duration" type="select" label="30009" lvalues="30010|30011|30012|30013" default="1"/>
  </category>
</settings>